<!-- Services Section -->
    <section id="flavour">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Flavour</h2>
                    <h3 class="section-subheading text-muted">RaspInLoop is available in different packages:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="#packageModalRaw" class="package-link" data-toggle="modal">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Raw</h4>
                    <p class="text-muted">Use library or command line Java tools to debug your Pi4J application under simulation </p>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#packageModalEclipse" class="package-link" data-toggle="modal">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Eclipse Plugin</h4>
                    <p class="text-muted">Debug your Pi4J application directly from Eclipse while your simulation is running. Hardware configuration is also available from Eclipse.</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#packageModalIntelliJ" class="package-link" data-toggle="modal">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IntelliJ IDEA Plugin</h4>
                    <p class="text-muted">Coming soon...</p>
                  </a>
                </div>
            </div>
        </div>
    </section>
