<!-- About Section -->
    <section id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <h3 class="section-subheading text-muted">Co-Simulation using FMI standard is the keystone of Raspinloop.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pij4 Application</h4>
                                    <h4 class="subheading">Code your application</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thanks to <a href="http://pi4j.com/">Pi4j project</a>, you have all you need to develop your java application on Raspberry Pi. Including a lot of components like stepper motor, servo, i2c and spi devices,...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Components</h4>
                                  <h4 class="subheading">Specify the attached components</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Usually, some detectors and actuators are attached to your raspberry board. Before running the simulation, you have to setup those components and their parameters.</p>
                              </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Simulation tool</h4>
                                  <h4 class="subheading">Modeling and simulation environment.</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Using your prefered modeling and simulation tool, your may describe the "world" connected to your raspberry Pi. This tool will import a "block" linked to modelized external variable (ie:  temperature, force, velocity, acceleration). All tools able to act as "Master FMI 2.0 Co-Simulation" can be used. <a href="http://fmi-standard.org/tools/">see list</a></p>
                              </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Debugging</h4>
                                    <h4 class="subheading">Freeze time !</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Place your breakpoints, start your application in debug mode and start your simulation. Now your simulation tool act as a clock for the whole system, allowing the debbuger to stop(breakpoint) to have the time for inspecting and understand what happens inside a milliseconds. Moreover, it allows to simulate process long as several days in a few seconds...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
